<h1 style="color:#800000"; align= "center"><%= @owner.message %> </h1>



<ul class="example-orbit" data-orbit>
  <li>
    <img src="assets/img1.jpg" alt="slide 1" />
    <div class="orbit-caption" height:auto;>
      Caption One.
    </div>
  </li>
  <li>
    <img src="assets/img2.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="assets/img3.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three
    </div>
  </li>
  <li>
	  <img src="assets/img4.jpg" alt="slide 4" />
	  <div class="orbit-caption">
		  Caption Four.
	  </div>
  </li>
</ul>

