<% content_for :title do %> About <% end %>
<h1> About </h1>
<p>As the largest political organization at Rutgers University, the Rutgers University Democrats seeks to promote political awareness and involvement in Democratic politics both within and beyond the University community. We also assist students with getting involved in the larger political community, by providing opportunities to intern and volunteer throughout the state. During the campaign season, our efforts are aimed at helping to get Democrats elected in New Jersey.
</p>
<p>As an organization, we also assist students with getting involved in the larger political community, by providing opportunities to intern and volunteer throughout the state. We are very active during the campaign season through volunteering to help get Democrats elected in New Jersey. During this time, we also hold numerous voter registration drives to encourage students to register and vote.
</p>
<p>
	To contact us, email us at rutgersuniversitydemocrats@gmail.com.
</p>